body {
    color:black;
    background:url(img5g/blue2.jpg) no-repeat center fixed;
    background-size:cover;
    }

.contribution {
    margin: 50px;
    width: 500px;
    height:500px;
    left: -140px;
}