body{
    font-family: 'Source code pro', Calibri, serif;
    margin: 0px;
    padding: 0px;
    
}

.imgreseaux {
    width:30px;
    height:30px;
    position: absolute;
    right:120px;
    margin: 19px;
    border-radius: 15px;
}

.imgreseaux1 {
    width:30px;
    height:30px;
    position: absolute;
    right:80px;
    margin: 19px;
    border-radius: 15px;
}

.imgreseaux2 {
    width:30px;
    height:30px;
    position: absolute;
    right:40px;
    margin: 19px;
    border-radius: 15px;
}


nav{
    width: 100%;
    background-color: #424558;
    text-align: center;
    display: inline-block;
}
nav > ul{
    margin: 0px;
    padding: 0px;
}
nav > ul::after{
    content:"";
    display:block;
    clear:both;
} 
nav > ul > li{
    display: inline-block;
    float: center;
    right: 250px;
    position: relative;
}
nav > ul > li > a{
    padding:25px 40px;
    color: #FFF;
}
nav > ul > li:hover a{
    padding-top: 20px;
}
nav li{
    list-style-type:none;
}
.submenu{
    display: none;
}
nav a{
    display: inline-block;
    text-decoration: none;
}
nav li:hover .submenu{
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 1000;
}
.submenu li{
    border-bottom: 1px solid #CCC;
}
.submenu li a{
    padding: 15px 30px;
    font-size: 13px;
    color: #222538;
    width: 270px;
}
/*.menu-accueil:hover{
    border-top: 5px solid #A29F9E;
    background-color: RGBa(162, 159, 158, 0.15);
}*/
.rageux:hover{
    border-top: 5px solid #A29F9E;
    background-color: RGBa(162, 159, 158, 0.15);
}
.menu-info:hover{
    border-top: 5px solid #A29F9E;
    background-color:  RGBa(162, 159, 158, 0.15);
}
.menu-sujet:hover{
    border-top: 5px solid #A29F9E;
    background-color:  RGBa(162, 159, 158, 0.15);
}

.menu-sujet .submenu{
    background-color: RGBa(0, 0, 0, 0.20);
}
.rageux .submenu{
    background-color: RGBa(0, 0, 0, 0.20);
}
.menu-info .submenu{
    background-color: RGBa(0, 0, 0, 0.10);
}

    .submenu li:hover a{
        color: #EEE;
        font-weight: bold;
    }

.box {
    background-color:rgba(255, 255, 255, 0.446);
    padding: 50px;
    margin: 300px;
    margin-top: 108px;
    height: 1300px;
    border: 5px solid rgb(0, 0, 0);
        
        }
    
.center {
    text-align: center;
}
img{
    width: 140px;
    position: absolute;
    float: left;
    /*right: 1100px;*/
    top: 0px;
    height: auto;  
    
}    
.center{
    font-size: 50px;
    text-decoration: underline;
    font-family: 'Lobster', cursive;
}

.texte{
    font-size: 17px;
    font-family: 'Pacifico', cursive;
}

.souligner {
    text-decoration: underline;
}